In [1]:
import pandas as pd
import os 
import glob

## Purpose

This notebook takes excel spreadsheets from the Vermont Department of Taxes for the whole state by County (http://tax.vermont.gov/research-and-reports/statistical-data/income-tax) and allows for quickly transforming and adding the years together. To run change the year below to the correct value and run restart and run the entire kernal. Repeat for all years until complete.

In [2]:
# Manually Change this year to match the excel file you are adding
year = '2005'

In [3]:
# checks if this is the first time it has been run and either generates a dataframe or imports what has already been created
if os.path.isfile('cumulativetaxincome.csv'):
    cumltaxinc = pd.read_csv("cumulativetaxincome.csv")
else:
    cumltaxinc =  pd.DataFrame()
    
if os.path.isfile('cumlctyinc.csv'):
    cumlctyinc = pd.read_csv("cumlctyinc.csv")
else:
    cumlctyinc = pd.DataFrame()
    
if os.path.isfile('cumlctyinctotal.csv'):
    cumlctyinctotal = pd.read_csv("cumlctyinctotal.csv")
else:
    cumlctyinctotal = pd.DataFrame()

In [4]:
# Tells you what years already exist in the CSV used to add all the data together, it will alway be on year behind what you are running
if cumltaxinc.empty:
    print('New Town Dataframe Created')
else:
    print("Years already stored for Towns:" + str(pd.unique(cumltaxinc['Year'])))
    
if cumlctyinc.empty:
    print('New County Dataframe Created')
else:
    print("Years already stored for County:" + str(pd.unique(cumlctyinc['Year'])))

Years already stored for Towns:[2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
Years already stored for County:[2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]

In [5]:
# Returns what xls files are in the folder
glob.glob('./*.xls')

['.\\income_stats_2005_county.xls',
 '.\\income_stats_2006_county.xls',
 '.\\income_stats_2007_county.xls',
 '.\\income_stats_2008_county.xls',
 '.\\income_stats_2009_county.xls',
 '.\\income_stats_2010_county.xls',
 '.\\income_stats_2011_county.xls',
 '.\\income_stats_2012_county.xls',
 '.\\income_stats_2013_county.xls',
 '.\\income_stats_2014_county.xls',
 '.\\income_stats_2015_county.xls']

## Import and Parse 

This brings in the excel sheet and splits it into seperate dataframe objects that can be transformed. In the process it also skips rows that are not needed and deletes blank rows that were there for stylistic reasons.

In [6]:
# Imports excel file and gives list of sheets
data = pd.ExcelFile('income_stats_'+year+'_county.xls')
colList = data.sheet_names
print(colList)

['CountyNum', 'CountyDol', 'CtyInc']

In [7]:
# Parse each sheet into it's own dataframes
ctycnt = data.parse('CountyNum',  skiprows=2)
ctydol = data.parse('CountyDol',  skiprows=2)
ctyinc = data.parse('CtyInc',  skiprows=2)

In [8]:
# Remove the several blank rows from the spreadsheet
def removeNA(dfname):
    dfname = dfname[(dfname.iloc[:,0].notnull())]
    return dfname
 
ctycnt = removeNA(ctycnt)
ctydol = removeNA(ctydol)
ctyinc = removeNA(ctyinc)

## Modify Column Names
Shapefiles inheriently have a limit of 10 characters for column names, so in order to prevent croping of names later on names are changed to be useable even in shapefiles. Since not all of the spreadsheets had the same number of columns there are several sequences to deal with that variable.

In [9]:
# Displays columns names from df for troubleshooting if needed
ctycnt.columns

Index(['County', 'Returns', 'Exempt', 'Married Joint', 'Single',
       'Married Separate', 'Head of Household',
       'Other State & Vermont Credits', 'Withheld', 'Estimate', 'Adjusted',
       'No Tax', 'Earned Income Credit'],
      dtype='object')

In [10]:
# Changes column names
ctycntcol = ['County', 'Return', 'Exempt', 'MarJnt', 'Single',
       'MarSep', 'HdHous', 'OthCrd','Wthhld', 'Estmt', 'Adjstd', 'NoTax', 'EIC']
ctycnt.columns = ctycntcol

In [11]:
# Displays columns names from df for troubleshooting if needed
ctydol.columns

Index(['County', 'Returns', 'Adjusted Gross Income', 'Federal Taxable Income',
       'Vermont Taxable Income', 'Adjusted Vermont Tax',
       'Other State & Vermont Credits', 'Net Vermont Tax',
       'Earned Income Credit', 'Average AGI per Exemption'],
      dtype='object')

In [12]:
# Changes column names
ctydolcol = ['County', 'Return', 'AGI', 'FedTI', 'VTI','AdjVTx',
             'OthCrd', 'NetVTax', 'EIC', 'AdjAGI']
ctydol.columns = ctydolcol

# This df will be merged with others that already have # of Returns so that is removed
del ctydol['Return']

In [13]:
# Displays columns names from df for troubleshooting if needed
ctyinc.columns

Index(['AGI Income Bracket', 'Returns', 'Exempt', 'Married Joint', 'Single',
       'Married Separate', 'Head of Household', 'Adjusted Gross Income',
       'Federal Taxable Income', 'Vermont Taxable Income', 'Net Vermont Tax'],
      dtype='object')

In [14]:
# Changes column names
ctyinccol = ['AGIClss', 'Return', 'Exempt', 'MarJnt', 'Single',
             'MarSep', 'HdHous', 'AGI','FedTI', 'VTI', 'NetVTax']
ctyinc.columns = ctyinccol

## Add Prefix
Since these dataframes are going to be merge, prefixes are added for clarity. Some of the data is count, and some is currency so it is important to be able to understand what is what.

In [15]:
# Adds a prefix to every column
ctycnt = ctycnt.add_prefix("Cnt_")
ctydol = ctydol.add_prefix("Dol_")

## Merge Data Together 
This combines data together into a set that describes counts and dollar amounts and another one that has demographic splits based on age. Because I have set the index to be the County it makes the merge easier but then I reset it back to a generated numeric value for usability.

In [16]:
#Concat Taxes together
taxcomb = pd.concat([ctycnt.set_index(ctycnt.columns[0]),ctydol.set_index(ctydol.columns[0])],
                    axis=1, join='inner').reset_index()

In [17]:
# Adds Year to dataframe
taxcomb['Year'] = year

# renames index and drops state totals from dataframe
taxcomb.rename(columns = {'index':'County'}, inplace=True)
taxcomb = taxcomb[(taxcomb['County'] != "Vermont")]

# Reorder columns to be easier to understand 
taxcomb = taxcomb[['Year','County', 'Cnt_Return', 'Cnt_Exempt', 'Cnt_MarJnt', 'Cnt_Single',
       'Cnt_MarSep', 'Cnt_HdHous', 'Cnt_OthCrd', 'Cnt_Wthhld', 'Cnt_Estmt',
       'Cnt_Adjstd', 'Cnt_NoTax', 'Cnt_EIC', 'Dol_AGI',
       'Dol_FedTI', 'Dol_VTI', 'Dol_AdjVTx', 'Dol_OthCrd', 'Dol_NetVTax',
       'Dol_EIC', 'Dol_AdjAGI']]

## AGI Income County Names

The original excel files did not place the county name on each line but rather at the top of section of Adjusted Gross Income breakdowns. This means that it cannot be easily sorted, or joined to a geospatial dataset, without some intense modification. Below is a for loop meant to create the correct town name as appropriate.

In [18]:
ctyinc.head(5)

,AGIClss,Return,Exempt,MarJnt,Single,MarSep,HdHous,AGI,FedTI,VTI,NetVTax
0,Addison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Loss or None,232.0,336.0,84.0,131.0,10.0,7.0,-10807682.00,37131.00,42603.00,2414.0000
2,0.01 - 4999,1501.0,1075.0,121.0,1326.0,13.0,41.0,3840794.00,102583.00,86173.00,3193.1053
3,5000 - 9999,1458.0,1340.0,144.0,1213.0,11.0,90.0,10840696.00,727374.00,705123.00,24381.3340
4,10000 - 14999,1185.0,1446.0,164.0,910.0,19.0,92.0,14676139.69,2207784.68,2187745.68,74491.0521

In [19]:
# define what are valid names for each row 
cnty = ['Addison','Bennington','Caledonia','Chittenden','Essex','Franklin',
        'Grand Isle','Lamoille','Orange','Orleans','Rutland','Washington','Windham',
        'Windsor','Suppressed/Not Stated','Suppressed']

In [20]:
# Iterate through the list and if the value matches the list, return that value, otherwise return the previous value
data = ctyinc['AGIClss']
data = list(data)

newname = []
index1= 0
index2= -1 

for x in data:
    if data[index1] in cnty:
        newname.append(data[index1])
    else:
        newname.append(newname[index2])
    index1+=1
    index2+=1

In [21]:
# Add a county column with the new information, add year and removed the NA rows that used to contain the county name
ctyinc['Cnty'] = newname

# Adds the year for all rows
ctyinc['Year'] = year

# removed footnotes
ctyinc = ctyinc[(ctyinc['Return'].notnull())]

## Column Order

In order for this data to be intuative, changing column order in necessary. First year, then county and then the AGI Class means that this data can be cut numerious ways

In [22]:
# Reorder columns to be easier to understand 
ctyinc = ctyinc[['Year','Cnty','AGIClss', 'Return', 'Exempt', 'MarJnt', 'Single', 'MarSep', 'HdHous',
                 'AGI', 'FedTI', 'VTI', 'NetVTax']]

In [23]:
# Splits Grand Totals in it's own dataframe
ctyinctotal = ctyinc[(ctyinc['AGIClss'] == "Grand Total")]
ctyinc = ctyinc[(ctyinc['AGIClss'] != "Grand Total")]

# Removes two occasions where footnotes were included
taxcomb = taxcomb[(taxcomb['County'] != "* Suppressed county also contains instate returns where town was not stated.")]

# Deletes column that had the words "Grand Total"
del ctyinctotal['AGIClss']

## Add to Running Data/Export as CSV

This conditionally adds what has just been done to the cumlative CSV we loaded in the beginning. If this is the first time it was run it takes what was created and makes it into the cumlative file, if not it attaches it at the end. It then writes it to the cumlative csv file that serves to add all the years into one place.

In [24]:
if cumltaxinc.empty:
    cumltaxinc = taxcomb 
else:
    cumltaxinc = cumltaxinc.append(taxcomb, ignore_index=True)
    
if cumlctyinc.empty:
    cumlctyinc = ctyinc
else:
    cumlctyinc = cumlctyinc.append(ctyinc, ignore_index=True)
    
if cumlctyinctotal.empty:
    cumlctyinctotal = ctyinctotal
else:
    cumlctyinctotal = cumlctyinctotal.append(ctyinctotal, ignore_index=True)

In [25]:
# Creates/overwrites to the CSV file with the additional year
cumltaxinc.to_csv("cumulativetaxincome.csv", index=False)
cumlctyinc.to_csv("cumlctyinc.csv", index=False)
cumlctyinctotal.to_csv("cumlctyinctotal.csv", index=False)

## Summary

This notebook is set up to be manually run by the user changing the Year value at the very beginning and everything else should work automatically. If you have already run several years and need to restart, make sure to delete the cumlative CSVs otherwise it will keep adding to that file. This is built to deal with current format irregularities in the spreadsheet format but may not work if that changes in the future.